
.container-fluid {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-flow: column;
  >h3{
    align-self: center;
    margin-bottom: 2%;
  }
}

.container {
  display: flex;
  flex-flow: column;
  height: 50%;
}

form {
  > .contact-input-field {
    background-color: #111111;
    margin-bottom: 2%;
  }
  > textarea {
    height: 80%;
  }
}

.contact-submit {
  margin-top: 2%;
  width: min-content;
}
.social-media-container{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  >h3{
    align-self: center;
  }
}
.icon-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.icon {
  transition: 0.3s;
  margin: 2%;
}

.icon:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 767px) {
  .container {
    width: 80%;
  }
  label{
    font-size:12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2158px) {
  .container {
    width: 30%;
  }
}

@media only screen and (min-width: 2159px) {
  .container {
    width: 20%;
  }
}
