.container-fluid {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-attachment: scroll;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 200%;
}

.image-container {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.series-image {
  display: flex;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  object-fit: cover;
  opacity: 1;
  height: 40vh;
  width: 71.1vh;
}

.image-caption {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  color: #F6F6F6;
  top: 70%;
  text-align: justify;
}

.image-caption-phone {
  opacity: 0.8;
  transition: 0.5s ease;
  position: absolute;
  color: #F6F6F6;
  top: 80%;
  text-align: justify;
}

.image-container:hover .series-image {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  filter: brightness(0.7);
}

.image-container:hover .image-caption {
  opacity: 0.8;
}

.image-container:hover .image-caption-phone {
  opacity: 0;
}

@media only screen and (max-width: 1280px) {
  .container-fluid {
    background-size: cover;
    height: 150vh;
  }
}
