.container-fluid {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background-attachment: scroll;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 200%;

}

.image-panel {
  column-count: 3;
  column-gap: 10px;
  margin-left: 5%;
  margin-right: 5%;

}

.image-thumbnail {
  width: 100%;
  transition: 0.4s ease;
  margin-bottom: 10px;
}
.ep-description{
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.modal-dialog {
  position: absolute;
  left: -10px;
}

.image-thumbnail:hover {
  filter: brightness(1.5);
}

@media only screen and (max-width: 799px) {
  div.image-panel {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  div.series-description {
    font-size: small;
  }
  .image-thumbnail:hover {
    filter: brightness(1);
  }
  .image-panel{
    margin-left: 0;
    margin-right: 0;
  }
  .image-thumbnail{
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1439px) {
  div.image-panel {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  div.series-description {
    font-size: medium;
  }
}

@media only screen and (min-width: 1440px) {
  div.image-panel {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

}

