<ngb-carousel interval="10000" pauseOnHover="true" [showNavigationIndicators]="false" class="home-carousel" >
  <ng-template ngbSlide>
    <img class="carousel-image"
         src="{{testImage[0].url}}"
         alt="Random first slide"
    >
  </ng-template>

  <ng-template ngbSlide>
    <img class="carousel-image"
         src="{{testImage[1].url}}"
         alt="Random second slide"
    >
  </ng-template>

  <ng-template ngbSlide>
    <img class="carousel-image"
         src="{{testImage[2].url}}"
         alt="Random third slide"
    >
  </ng-template>

</ngb-carousel>
