<app-load-spinner *ngIf="showSpinner" style="position:fixed; top:40%; left:50%"></app-load-spinner>
<div id="page-content" *ngIf="showImages" class="container-fluid ">
  <div class="series-description  col-md-6 col-lg-6  edgy-font">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="image-panel  col-md-6 col-lg-6">
    <a href="" (click)="setFullSizeDynamically(tragedyImage)"
       *ngFor="let tragedyImage of images"
       data-toggle="modal"
       data-target="#fullImageModal">
      <img *ngIf="tragedyImage.fullSizeUrlMedium!==''"
           class="image-thumbnail "
           src="{{tragedyImage.fullSizeUrlMedium}}"
           srcset="{{tragedyImage.fullSizeUrlMedium}}  "
           alt="fuck"
           (load)="test()">
    </a>
  </div>
</div>
<div class="modal hide fade "
     id="fullImageModal"
     tabindex="-1"
     role="document"
     aria-labelledby="fullImageModal"
     aria-hidden="true"
     *ngIf="chosenImage!=''"
>
  <div class="modal-dialog" role="document" >
    <div class="modal-title">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img  [src]="chosenImage.fullSizeUrlLarge"
               srcset="{{chosenImage.fullSizeUrlMedium}} 700w,
                  {{chosenImage.fullSizeUrlLarge}} 1500w "
           alt="fuck squared">
    </div>
  </div>
</div>
