<div class="image-container">
<!--<div class="series-background">-->
<!--  <img src="assets/background.jpg" alt="nu mere">-->
<!--</div>-->
  <app-load-spinner *ngIf="showSpinner" style="position:fixed; top:40%; left:50%"></app-load-spinner>

    <div *ngIf="!showSpinner" class="container-fluid">
      <div class="series-description col-4 edgy-font">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="image-panel col-8">
        <a href="" (click)="chosenImage=tragedyImage.fullsize"
           *ngFor="let tragedyImage of images"
           data-toggle="modal"
           data-target="#fullImageModal">
          <img *ngIf="tragedyImage.thumbnail!==''" class="image-thumbnail " src="{{tragedyImage.thumbnail}}" alt="fuck">
        </a>
      </div>
    </div>
</div>

<div class="modal hide fade"
     id="fullImageModal"
     tabindex="-1"
     role="document"
     aria-labelledby="fullImageModal"
     aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-title">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img [src]="chosenImage" alt="fuck squared">
    </div>
  </div>
</div>
