@import '~bootstrap/dist/css/bootstrap.min.css';

.main-panel {
  position: relative;
}

.edgy-font {
  color: #F6F6F6;
  font-size: larger;
}

.secondary {
  background-color: #0F1214;
}

.primary {
  background-color: #1A1E1F;
}
